<div ng-controller="myCtrl2">
  <div class="container-fluid">
    <!-- ------------------------------------------------------------------------------- -->
    <h2>Negative Harmony</h2>
    <h4> Tone: 
      <select 
        ng-init="selectedEscala = arrayCirculoQuintas[0]; changeEscala();" 
        ng-model="selectedEscala"
        ng-change="changeEscala()"
        ng-options="x.ciph for x in arrayCirculoQuintas | orderBy:'order'">
      </select>
    </h4>
    <div class="row">
      <div class="col-sm-3">
        <!-- --------------------------------------------------------------------------- -->
        <table class="table table-bordered">
          <tbody>
            <tr ng-repeat="n in notes">
              <td>
                <span>{{n.origin.ciph}}</span>
              </td>
              <td>
                <!-- <span class="glyphicon glyphicon-resize-horizontal gi-1x"></span> -->
                <span class="glyphicon glyphicon-arrow-left"></span>
                <!-- <span class="glyphicon glyphicon-refresh"></span> -->
                <span class="glyphicon glyphicon-minus"></span>
                <span class="glyphicon glyphicon-minus"></span>
                <span class="glyphicon glyphicon-arrow-right"></span>
              </td>
              <td>
                <span>{{n.neg.ciph}}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- --------------------------------------------------------------------------- -->
      </div>
      <div class="col-sm-6">
        <div style="position:absolute; top:0px; left:10px; visibility:visible; z-index:1">
          <img id="imgCircle" src="assets\img\MUSCIA_-_CirculoQuintas.png">
        </div>
        <div style="position:absolute; top:0px; left:10px; visibility:visible; z-index:1">
          <img id="imgArrows" src="assets\img\MUSCIA_-_CirculoQuintasArmoniaNegativa.png">
        </div>
      </div>
    </div>
    
    <!-- <div class="form-group">
      <label for="">Scala: </label>
      <select 
        ng-init="selectedEscala = arrayCirculoQuintas[0]" 
        ng-model="selectedEscala"
        ng-change="changeEscala()"
        ng-options="x.ciph for x in arrayCirculoQuintas | orderBy:'order'">
      </select>
    </div> -->
    <!-- ------------------------------------------------------------------------------- -->
  </div>
</div>
