<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Icon -->
    <link rel="icon" type="image/png" href="https://disease.sh/assets/img/flags/ar.png">

    <!-- jQuery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <!-- <script src="http://code.angularjs.org/1.4.8/angular.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>

    <!-- xlsx -->
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>


    <!-- STATIC/CSS -->
    <link rel="stylesheet" href="static\style.css">

    <!-- STATIC/JS -->
    <script src="static\script.js"></script>
    <script src="static\script1.js"></script>
    <script src="static\script2.js"></script>

    <title>Jav2074 Info</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

    <div class="topnav">
        <a class="links active" ng-click="changeTabMain('Home');">Home</a>
        <a class="links" ng-click="changeTabMain('Covid-19');">Covid-19</a>
        <a class="links" ng-click="changeTabMain('Music');">Music</a>
    </div>

    <div>
        <div ng-if="tabMain == 'Home'">
            <div class="container-fluid">   <!--  container-fluid  container -->
                <h2>Home</h2>
            </div>
        </div>
        <div ng-if="tabMain == 'Covid-19'">
            <div ng-include="'index1.html'"></div>
        </div>
        <div ng-if="tabMain == 'Music'">
            <div ng-include="'index2.html'"></div>
        </div>
    </div>



    <script>
        $(document).ready(function() {
            //cuando clickemos cualquier link, poner activo el link actual y desactivar el resto
            $(".links").click(function()
            {
                var li = $(this).closest(".links");
                activeClass(li);
            }); 
        });	
        function activeClass(elem) {
            $(elem).addClass("active");
            $(elem).siblings().removeClass("active");
        };
    </script>
</body>
</html>